In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/DE Project/Project_DE/ipldata/IPL_Ball_by_Ball_2008_2022.csv')
df2=pd.read_csv('/content/drive/MyDrive/DE Project/Project_DE/ipldata/IPL_Matches_2008_2022.csv')

In [ ]:
df2.shape # checking the shape of the dataframe

(950, 20)

In [ ]:
 df2.dtypes

ID                   int64
City                object
Date                object
Season              object
MatchNumber         object
Team1               object
Team2               object
Venue               object
TossWinner          object
TossDecision        object
SuperOver           object
WinningTeam         object
WonBy               object
Margin             float64
method              object
Player_of_Match     object
Team1Players        object
Team2Players        object
Umpire1             object
Umpire2             object
dtype: object

In [ ]:
df2.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [ ]:
df2.isna().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

*italicised text*#Data Processing of First data

In [ ]:

df2.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [ ]:
columns=['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2']
for col in columns:
  print(col)
  print(pd.DataFrame(df2[col].value_counts()))
  print(f"Number of unique values in {col} {df2[col].nunique()}")

ID
         ID
1312200   1
548372    1
597999    1
597998    1
548381    1
...      ..
1082644   1
1082643   1
1082642   1
1082641   1
335982    1

[950 rows x 1 columns]
Number of unique values in ID 950
City
                City
Mumbai           159
Kolkata           79
Delhi             78
Chennai           67
Bangalore         65
Hyderabad         64
Chandigarh        56
Pune              51
Jaipur            47
Abu Dhabi         37
Ahmedabad         19
Bengaluru         15
Durban            15
Visakhapatnam     13
Dubai             13
Centurion         12
Rajkot            10
Sharjah           10
Dharamsala         9
Navi Mumbai        9
Indore             9
Johannesburg       8
Ranchi             7
Cuttack            7
Port Elizabeth     7
Cape Town          7
Raipur             6
Kochi              5
Kanpur             4
Nagpur             3
Kimberley          3
East London        3
Bloemfontein       2
Number of unique values in City 33
Date
            Date
2014-05-10     2
2011-05-04     2
2016-04-23     2
2011-04-22     2
2016-04-24     2
...          ...
2017-05-21     1
2017-05-19     1
2017-05-17     1
2017-05-16     1
2008-04-18     1

[706 rows x 1 columns]
Number of unique values in Date 706
Season
         Season
2013         76
2022         74
2012         74
2011         73
2021         60
2020/21      60
2019         60
2018         60
2016         60
2014         60
2009/10      60
2017         59
2015         59
2007/08      58
2009         57
Number of unique values in Season 15
MatchNumber
                    MatchNumber
Final                        15
36                           15
46                           15
45                           15
44                           15
...                         ...
65                            4
Elimination Final             3
72                            2
71                            2
3rd Place Play-Off            1

[80 rows x 1 columns]
Number of unique values in MatchNumber 80
Team1
                             Team1
Royal Challengers Bangalore    126
Mumbai Indians                 112
Chennai Super Kings            111
Kolkata Knight Riders          105
Kings XI Punjab                 92
Rajasthan Royals                89
Delhi Daredevils                85
Sunrisers Hyderabad             69
Deccan Chargers                 39
Delhi Capitals                  29
Pune Warriors                   23
Punjab Kings                    18
Gujarat Lions                   16
Lucknow Super Giants             8
Gujarat Titans                   7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Kochi Tuskers Kerala             7
Number of unique values in Team1 18
Team2
                             Team2
Mumbai Indians                 119
Kolkata Knight Riders          118
Rajasthan Royals               103
Royal Challengers Bangalore    100
Kings XI Punjab                 98
Chennai Super Kings             97
Sunrisers Hyderabad             83
Delhi Daredevils                76
Deccan Chargers                 36
Delhi Capitals                  34
Pune Warriors                   23
Gujarat Lions                   14
Punjab Kings                    10
Gujarat Titans                   9
Rising Pune Supergiant           9
Rising Pune Supergiants          7
Lucknow Super Giants             7
Kochi Tuskers Kerala             7
Number of unique values in Team2 18
Venue
                                                    Venue
Eden Gardens                                           77
Wankhede Stadium                                       73
M Chinnaswamy Stadium                                  65
Feroz Shah Kotla                                       60
Rajiv Gandhi International Stadium, Uppal              49
MA Chidambaram Stadium, Chepauk                        48
Sawai Mansingh Stadium                                 47
Dubai International Cricket Stadium                    46
Punjab Cricket Association Stadium, Mohali             35
Wankhede Stadium, Mumbai                               31
Sheikh Zayed Stadium                                   29
Sharjah Cricket Stadium                                28
Maharashtra Cricket Association Stadium                22
Dr DY Patil Sports Academy, Mumbai                     20
Dr DY Patil Sports Academy                             17
Brabourne Stadium, Mumbai                              17
Subrata Roy Sahara Stadium                             16
Rajiv Gandhi International Stadium                     15
Kingsmead                                              15
M.Chinnaswamy Stadium                                  15
Arun Jaitley Stadium                                   14
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Sta...     13
Maharashtra Cricket Association Stadium, Pune          13
SuperSport Park                                        12
Sardar Patel Stadium, Motera                           12
Punjab Cricket Association IS Bindra Stadium, M...     11
Punjab Cricket Association IS Bindra Stadium           10
MA Chidambaram Stadium, Chepauk, Chennai               10
Saurashtra Cricket Association Stadium                 10
Brabourne Stadium                                      10
Holkar Cricket Stadium                                  9
MA Chidambaram Stadium                                  9
Himachal Pradesh Cricket Association Stadium            9
New Wanderers Stadium                                   8
Zayed Cricket Stadium, Abu Dhabi                        8
St George's Park                                        7
Narendra Modi Stadium, Ahmedabad                        7
Barabati Stadium                                        7
JSCA International Stadium Complex                      7
Newlands                                                7
Shaheed Veer Narayan Singh International Stadium        6
Nehru Stadium                                           5
Green Park                                              4
Arun Jaitley Stadium, Delhi                             4
Vidarbha Cricket Association Stadium, Jamtha            3
De Beers Diamond Oval                                   3
Buffalo Park                                            3
Eden Gardens, Kolkata                                   2
OUTsurance Oval                                         2
Number of unique values in Venue 49
TossWinner
                             TossWinner
Mumbai Indians                      123
Kolkata Knight Riders               114
Chennai Super Kings                 109
Royal Challengers Bangalore         105
Rajasthan Royals                     99
Kings XI Punjab                      85
Delhi Daredevils                     80
Sunrisers Hyderabad                  74
Deccan Chargers                      43
Delhi Capitals                       36
Pune Warriors                        20
Gujarat Lions                        15
Gujarat Titans                       10
Punjab Kings                          9
Kochi Tuskers Kerala                  8
Lucknow Super Giants                  7
Rising Pune Supergiants               7
Rising Pune Supergiant                6
Number of unique values in TossWinner 18
TossDecision
       TossDecision
field           599
bat             351
Number of unique values in TossDecision 2
SuperOver
   SuperOver
N        932
Y         14
Number of unique values in SuperOver 2
WinningTeam
                             WinningTeam
Mumbai Indians                       131
Chennai Super Kings                  121
Kolkata Knight Riders                114
Royal Challengers Bangalore          109
Rajasthan Royals                      96
Kings XI Punjab                       88
Sunrisers Hyderabad                   75
Delhi Daredevils                      67
Delhi Capitals                        36
Deccan Chargers                       29
Gujarat Lions                         13
Punjab Kings                          13
Pune Warriors                         12
Gujarat Titans                        12
Rising Pune Supergiant                10
Lucknow Super Giants                   9
Kochi Tuskers Kerala                   6
Rising Pune Supergiants                5
Number of unique values in WinningTeam 18
WonBy
           WonBy
Wickets      509
Runs         423
SuperOver     14
NoResults      4
Number of unique values in WonBy 4
Margin
       Margin
6.0       114
7.0       113
5.0        98
8.0        75
4.0        62
...       ...
118.0       1
146.0       1
91.0        1
52.0        1
140.0       1

[94 rows x 1 columns]
Number of unique values in Margin 94
method
     method
D/L      19
Number of unique values in method 1
Player_of_Match
                Player_of_Match
AB de Villiers               25
CH Gayle                     22
DA Warner                    18
RG Sharma                    18
MS Dhoni                     17
...                         ...
CR Brathwaite                 1
Mohsin Khan                   1
A Zampa                       1
BCJ Cutting                   1
MF Maharoof                   1

[262 rows x 1 columns]
Number of unique values in Player_of_Match 262
Team1Players
                                                    Team1Players
['RD Gaikwad', 'F du Plessis', 'MM Ali', 'SK Ra...             2
['SV Samson', 'KK Nair', 'SS Iyer', 'RR Pant', ...             2
['JC Buttler', 'D Padikkal', 'SV Samson', 'SO H...             2
['S Dhawan', 'KS Williamson', 'WP Saha', 'MK Pa...             2
['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana'...             2
...                                                          ...
['CH Gayle', 'Mandeep Singh', 'V Kohli', 'AB de...             1
['MJ Guptill', 'HM Amla', 'SE Marsh', 'GJ Maxwe...             1
['SV Samson', 'KK Nair', 'SS Iyer', 'RR Pant', ...             1
['DA Warner', 'S Dhawan', 'KS Williamson', 'Yuv...             1
['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis'...             1

[932 rows x 1 columns]
Number of unique values in Team1Players 932
Team2Players
                                                    Team2Players
['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Ya...             2
['Abhishek Sharma', 'KS Williamson', 'RA Tripat...             2
['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Nai...             2
['DA Warner', 'S Dhawan', 'KS Williamson', 'Yuv...             2
['DJ Jacobs', 'SR Tendulkar', 'AT Rayudu', 'RG ...             2
...                                                          ...
['LMP Simmons', 'PA Patel', 'N Rana', 'RG Sharm...             1
['CA Lynn', 'SP Narine', 'C de Grandhomme', 'G ...             1
['DR Smith', 'Ishan Kishan', 'SK Raina', 'KD Ka...             1
['LMP Simmons', 'PA Patel', 'KA Pollard', 'RG S...             1
['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ...             1

[937 rows x 1 columns]
Number of unique values in Team2Players 937
Umpire1
                       Umpire1
AK Chaudhary                95
HDPK Dharmasena             76
Asad Rauf                   51
S Ravi                      48
CB Gaffaney                 47
KN Ananthapadmanabhan       44
M Erasmus                   42
Aleem Dar                   38
BF Bowden                   36
BR Doctrove                 34
Nitin Menon                 31
AY Dandekar                 30
BNJ Oxenford                30
C Shamshuddin               28
RE Koertzen                 20
S Asnani                    19
NJ Llong                    17
JD Cloete                   16
CK Nandan                   16
A Nand Kishore              16
RK Illingworth              14
BG Jerling                  13
VA Kulkarni                 12
SS Hazare                   11
S Das                       10
MR Benson                   10
K Hariharan                 10
A Deshmukh                   9
DJ Harper                    9
J Madanagopal                8
GAV Baxter                   7
PG Pathak                    7
RM Deshpande                 7
IL Howell                    7
PR Reiffel                   7
Chirra Ravikanthreddy        6
RJ Tucker                    6
SJ Davis                     6
YC Barde                     6
SD Fry                       5
SK Tarapore                  5
AM Saheba                    4
VK Sharma                    4
IJ Gould                     4
R Pandit                     3
Navdeep Singh                3
GR Sadashiv Iyer             3
K Bharatan                   3
UV Gandhe                    3
NA Patwardhan                2
K Srinivasan                 2
K Srinath                    2
MA Gough                     2
AV Jayaprakash               2
HAS Khalid                   1
SJA Taufel                   1
SL Shastri                   1
Tapan Sharma                 1
Number of unique values in Umpire1 58
Umpire2
                       Umpire2
S Ravi                      83
C Shamshuddin               60
SJA Taufel                  54
Nitin Menon                 52
RJ Tucker                   46
CK Nandan                   43
VK Sharma                   42
VA Kulkarni                 38
RB Tiffin                   30
BNJ Oxenford                27
SK Tarapore                 26
RK Illingworth              25
M Erasmus                   25
CB Gaffaney                 22
AM Saheba                   22
YC Barde                    22
PR Reiffel                  21
RE Koertzen                 21
NJ Llong                    20
HDPK Dharmasena             18
DJ Harper                   18
AK Chaudhary                16
UV Gandhe                   15
SL Shastri                  13
K Srinath                   13
KN Ananthapadmanabhan       12
S Asnani                    11
K Hariharan                 11
MA Gough                    10
PG Pathak                    9
A Nand Kishore               9
BR Doctrove                  8
Tapan Sharma                 7
IL Howell                    7
K Srinivasan                 7
SS Hazare                    6
AL Hill                      6
I Shivram                    6
N Pandit                     6
GA Pratapkumar               6
HAS Khalid                   6
TH Wijewardene               5
S Das                        5
AV Jayaprakash               4
Navdeep Singh                4
NA Patwardhan                4
BG Jerling                   4
GR Sadashiv Iyer             3
R Pandit                     3
A Deshmukh                   3
J Madanagopal                3
SD Ranade                    2
MR Benson                    2
IJ Gould                     2
AY Dandekar                  2
SJ Davis                     1
Subroto Das                  1
BF Bowden                    1
SD Fry                       1
JD Cloete                    1
Number of unique values in Umpire2 60

##ID

All id are unique

In [ ]:
df2['ID'].nunique()

950

##City

In [ ]:
df2.isna().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [ ]:
df2["City"].nunique()

33

In [ ]:
df2["City"].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Kochi', 'Nagpur', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [ ]:

df2 = df2.replace('Bengaluru','Bangalore')

In [ ]:
df2["City"].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bangalore', 'Jaipur', 'Indore',
       'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack', 'Dharamsala',
       'Kochi', 'Nagpur', 'Johannesburg', 'Centurion', 'Durban',
       'Bloemfontein', 'Port Elizabeth', 'Kimberley', 'East London',
       'Cape Town'], dtype=object)

In [ ]:
a=df2[['City','Venue']]

In [ ]:
nan_rows = a[a.isna().any(axis=1)]

In [ ]:
nan_rows.head()

    City                                Venue
134  NaN  Dubai International Cricket Stadium
137  NaN  Dubai International Cricket Stadium
138  NaN              Sharjah Cricket Stadium
140  NaN  Dubai International Cricket Stadium
142  NaN  Dubai International Cricket Stadium

In [ ]:
filtered_rows = df2[df2['Venue'] == 'Sharjah Cricket Stadium']

# Access the 'City' column of the filtered DataFrame
filtered_rows['City'].value_counts()

Sharjah    10
Name: City, dtype: int64

In [ ]:
mask = df2['Venue'] == 'Sharjah Cricket Stadium'

# Fill NaN values in the 'City' column of matching rows with 'Dubai'
df2.loc[mask, 'City'] = 'Sharjah'

df2['City'].isna().sum()

33

In [ ]:
filtered = df2[df2['Venue'] == 'Dubai International Cricket Stadium']

# Access the 'City' column of the filtered DataFrame
filtered['City'].value_counts()

Dubai    13
Name: City, dtype: int64

In [ ]:
mask = df2['Venue'] == 'Dubai International Cricket Stadium'
# Fill NaN values in the 'City' column of matching rows with 'Dubai'
df2.loc[mask, 'City'] = 'Dubai'
# Display the updated DataFrame

In [ ]:
df2["City"].isna().sum()

0

In [ ]:
df2['City'].count()

950

In city there are 51 nan values we replace nan values where venue is Dubai International Cricket Stadium by dubai and where venue is Sharjah Cricket Stadium by Sharjah

##Date

In [ ]:
df2['Date'].nunique()

706

In [ ]:
df2['Date'].value_counts()

2014-05-10    2
2011-05-04    2
2016-04-23    2
2011-04-22    2
2016-04-24    2
             ..
2017-05-21    1
2017-05-19    1
2017-05-17    1
2017-05-16    1
2008-04-18    1
Name: Date, Length: 706, dtype: int64

It means that on one day 2 matches are also played

##MatchNumber

In [ ]:
df2['MatchNumber'].nunique()

80

In [ ]:
df2['MatchNumber'].value_counts()

Final                 15
36                    15
46                    15
45                    15
44                    15
                      ..
65                     4
Elimination Final      3
72                     2
71                     2
3rd Place Play-Off     1
Name: MatchNumber, Length: 80, dtype: int64

Here we have both string and integer

##season done

In [ ]:
df2.groupby(['Season'])['ID'].nunique()

Season
2007/08    58
2009       57
2009/10    60
2011       73
2012       74
2013       76
2014       60
2015       59
2016       60
2017       59
2018       60
2019       60
2020/21    60
2021       60
2022       74
Name: ID, dtype: int64

In [ ]:
df2['Season']=df2['Season'].replace('2007/08','2008')
df2['Season']=df2['Season'].replace('2009/10','2010')
df2['Season']=df2['Season'].replace('2020/21','2020')

In [ ]:
df2['Season'].unique()

array(['2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015',
       '2014', '2013', '2012', '2011', '2010', '2009', '2008'],
      dtype=object)

In [ ]:
df2.isna().sum()

ID                   0
City                 0
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

##Team 1 and Team 2 and Toss winner Here i have changed the team names according to latest information

In [ ]:
df2["Team1"].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [ ]:
df2 = df2.replace('Rising Pune Supergiants','Rising Pune Supergiant')
df2 = df2.replace('Delhi Daredevils','Delhi Capitals')
df2 = df2.replace('Kings XI Punjab','Punjab Kings')

In [ ]:
df2.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [ ]:
df2['Team1'].value_counts()

Royal Challengers Bangalore    126
Delhi Capitals                 114
Mumbai Indians                 112
Chennai Super Kings            111
Punjab Kings                   110
Kolkata Knight Riders          105
Rajasthan Royals                89
Sunrisers Hyderabad             69
Deccan Chargers                 39
Pune Warriors                   23
Gujarat Lions                   16
Rising Pune Supergiant          14
Lucknow Super Giants             8
Gujarat Titans                   7
Kochi Tuskers Kerala             7
Name: Team1, dtype: int64

In [ ]:
df2['method'].value_counts()

D/L    19
Name: method, dtype: int64

**bold text**##Method

In [ ]:
df2['method'].fillna("Regular Match",inplace=True)

In [ ]:
df2["method"].value_counts()

Regular Match    931
D/L               19
Name: method, dtype: int64

##Venue

In [ ]:
df2["Venue"].value_counts()

Eden Gardens                                            77
Wankhede Stadium                                        73
M Chinnaswamy Stadium                                   65
Feroz Shah Kotla                                        60
Rajiv Gandhi International Stadium, Uppal               49
MA Chidambaram Stadium, Chepauk                         48
Sawai Mansingh Stadium                                  47
Dubai International Cricket Stadium                     46
Punjab Cricket Association Stadium, Mohali              35
Wankhede Stadium, Mumbai                                31
Sheikh Zayed Stadium                                    29
Sharjah Cricket Stadium                                 28
Maharashtra Cricket Association Stadium                 22
Dr DY Patil Sports Academy, Mumbai                      20
Dr DY Patil Sports Academy                              17
Brabourne Stadium, Mumbai                               17
Subrata Roy Sahara Stadium                              16
Rajiv Gandhi International Stadium                      15
Kingsmead                                               15
M.Chinnaswamy Stadium                                   15
Arun Jaitley Stadium                                    14
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Maharashtra Cricket Association Stadium, Pune           13
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Punjab Cricket Association IS Bindra Stadium, Mohali    11
Punjab Cricket Association IS Bindra Stadium            10
MA Chidambaram Stadium, Chepauk, Chennai                10
Saurashtra Cricket Association Stadium                  10
Brabourne Stadium                                       10
Holkar Cricket Stadium                                   9
MA Chidambaram Stadium                                   9
Himachal Pradesh Cricket Association Stadium             9
New Wanderers Stadium                                    8
Zayed Cricket Stadium, Abu Dhabi                         8
St George's Park                                         7
Narendra Modi Stadium, Ahmedabad                         7
Barabati Stadium                                         7
JSCA International Stadium Complex                       7
Newlands                                                 7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
Arun Jaitley Stadium, Delhi                              4
Vidarbha Cricket Association Stadium, Jamtha             3
De Beers Diamond Oval                                    3
Buffalo Park                                             3
Eden Gardens, Kolkata                                    2
OUTsurance Oval                                          2
Name: Venue, dtype: int64

In [ ]:
df2['Venue']=df2['Venue'].replace('Arun Jaitley Stadium, Delhi','Arun Jaitley Stadium')
df2['Venue']=df2['Venue'].replace('Brabourne Stadium, Mumbai','Brabourne Stadium')
df2['Venue']=df2['Venue'].replace('Dr DY Patil Sports Academy, Mumbai','Dr DY Patil Sports Academy')
df2['Venue']=df2['Venue'].replace('Eden Gardens, Kolkata','Eden Gardens')
df2['Venue']=df2['Venue'].replace('Feroz Shah Kotla','Arun Jaitley Stadium')
df2['Venue']=df2['Venue'].replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')
df2['Venue']=df2['Venue'].replace('MA Chidambaram Stadium, Chepauk, Chennai','MA Chidambaram Stadium')
df2['Venue']=df2['Venue'].replace('MA Chidambaram Stadium, Chepauk','MA Chidambaram Stadium')
df2['Venue']=df2['Venue'].replace('Maharashtra Cricket Association Stadium, Pune','Maharashtra Cricket Association Stadium')
df2['Venue']=df2['Venue'].replace('Punjab Cricket Association IS Bindra Stadium','Punjab Cricket Association Stadium')
df2['Venue']=df2['Venue'].replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association Stadium')
df2['Venue']=df2['Venue'].replace('Punjab Cricket Association Stadium, Mohali','Punjab Cricket Association Stadium')
df2['Venue']=df2['Venue'].replace('Rajiv Gandhi International Stadium, Uppal','Rajiv Gandhi International Stadium')
df2['Venue']=df2['Venue'].replace('Wankhede Stadium, Mumbai','Wankhede Stadium')
df2['Venue']=df2['Venue'].replace('Narendra Modi Stadium, Ahmedabad','Narendra Modi Stadium(Motera)')
df2['Venue']=df2['Venue'].replace('Sardar Patel Stadium, Motera','Narendra Modi Stadium(Motera)')
df2['Venue']=df2['Venue'].replace('Zayed Cricket Stadium, Abu Dhabi','Zayed Cricket Stadium')
df2['Venue']=df2['Venue'].replace('Vidarbha Cricket Association Stadium, Jamtha','Vidarbha Cricket Association Stadium(Jamtha)')

In [ ]:
filtered_rows = df2[df2['Venue'] == 'Nehru Stadium']

# Access the 'City' column of the filtered DataFrame
filtered_rows['City'].value_counts()

Kochi    5
Name: City, dtype: int64

In [ ]:
df2["Venue"].value_counts()

Wankhede Stadium                                       104
M Chinnaswamy Stadium                                   80
Eden Gardens                                            79
Arun Jaitley Stadium                                    78
MA Chidambaram Stadium                                  67
Rajiv Gandhi International Stadium                      64
Punjab Cricket Association Stadium                      56
Sawai Mansingh Stadium                                  47
Dubai International Cricket Stadium                     46
Dr DY Patil Sports Academy                              37
Maharashtra Cricket Association Stadium                 35
Sheikh Zayed Stadium                                    29
Sharjah Cricket Stadium                                 28
Brabourne Stadium                                       27
Narendra Modi Stadium(Motera)                           19
Subrata Roy Sahara Stadium                              16
Kingsmead                                               15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
SuperSport Park                                         12
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
New Wanderers Stadium                                    8
Zayed Cricket Stadium                                    8
Barabati Stadium                                         7
JSCA International Stadium Complex                       7
St George's Park                                         7
Newlands                                                 7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
Vidarbha Cricket Association Stadium(Jamtha)             3
De Beers Diamond Oval                                    3
Buffalo Park                                             3
OUTsurance Oval                                          2
Name: Venue, dtype: int64

In [ ]:
df2.isna().sum()

ID                  0
City                0
Date                0
Season              0
MatchNumber         0
Team1               0
Team2               0
Venue               0
TossWinner          0
TossDecision        0
SuperOver           4
WinningTeam         4
WonBy               0
Margin             18
method              0
Player_of_Match     4
Team1Players        0
Team2Players        0
Umpire1             0
Umpire2             0
dtype: int64

##Margin

In [ ]:
df2['Margin'].fillna(0,inplace=True)

In [ ]:
df2.to_csv('/content/drive/MyDrive/matches.csv')

In [ ]:
df1.to_csv('/content/drive/MyDrive/innings.csv')

In [ ]:
df1.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam'],
      dtype='object')

#EXP

In [ ]:
import pandas as pd
# Assuming you have a DataFrame df2 with columns 'TossWinner' and 'WinningTeam'
# Create a sample DataFrame for demonstration purposes
# Calculate the total number of matches
total_matches = len(df2)

# Calculate the number of matches won by the team that won the toss
toss_won_and_match_won = len(df2[(df2['TossWinner'] == df2['WinningTeam'])])

# Calculate the percentage of matches won by the team that won the toss
percentage_winning_toss_and_match = (toss_won_and_match_won / total_matches) * 100

print(f"Percentage of matches won by the team that won the toss: {percentage_winning_toss_and_match:.2f}%")

Percentage of matches won by the team that won the toss: 51.47%

In [ ]:
# Filter the DataFrame by Season == 2008
filtered_df = df2[df2['Season'] == "2010"]

# Group by 'Season' and count values of 'MatchNumber' within each group
result = filtered_df.groupby(['Season'])['MatchNumber'].value_counts().head(100)
print(result)

Season  MatchNumber
2010    Semi Final            2
        1                     1
        10                    1
        11                    1
        12                    1
        13                    1
        14                    1
        15                    1
        16                    1
        17                    1
        18                    1
        19                    1
        2                     1
        20                    1
        21                    1
        22                    1
        23                    1
        24                    1
        25                    1
        26                    1
        27                    1
        28                    1
        29                    1
        3                     1
        30                    1
        31                    1
        32                    1
        33                    1
        34                    1
        35                    1
        36                    1
        37                    1
        38                    1
        39                    1
        3rd Place Play-Off    1
        4                     1
        40                    1
        41                    1
        42                    1
        43                    1
        44                    1
        45                    1
        46                    1
        47                    1
        48                    1
        49                    1
        5                     1
        50                    1
        51                    1
        52                    1
        53                    1
        54                    1
        55                    1
        56                    1
        6                     1
        7                     1
        8                     1
        9                     1
        Final                 1
Name: MatchNumber, dtype: int64

In [ ]:
# Save the DataFrame to a CSV file
df.to_csv('matches.csv', index=False)

NameError: ignored

In [ ]:
df2[df2['Season']=='2010'].count()

In [ ]:
df2.columns

In [ ]:
df1.columns

In [ ]:
df2.dtypes

In [ ]:
df1.dtypes